@import '../../styles/colors';

.footerContainer {
  color: $white;
  background-color: $green-700;

  width: 100%;

  padding: 3.25rem;

  .footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      display: flex;
      text-align: center;
      align-items: center;

      img {
        padding-left: 1rem;
      }
    }
  }

  .iconsFooter {
    display: flex;

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.5rem;
      height: 2.5rem;

      border-radius: 1.25rem;

      transition: 0.2s;

      &:hover {
        background-color: $green-600;
      }

      .icons {
        color: $white;

        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

@media only screen and (max-width: 405px) {
  .iconsFooter {
    margin-left: 1rem;

    flex-direction: column;
  }
}
