@import '../../styles/colors';

.popupModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  position: fixed;
  z-index: 50;
}

.content {
  display: grid;
  place-content: center;
  justify-items: center;

  width: 23.5rem;

  background-color: rgb(248, 252, 248);
  padding: 0.625rem;

  border-radius: 10px;

  border: 1px solid rgb(0 0 0 / 0.3);
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.3);

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    right: 0;
    position: absolute;
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    background-color: $green-600;

    width: 1.5rem;
    height: 1.5rem;

    border-radius: 50%;

    cursor: pointer;

    > span {
      color: $white;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

.title {
  display: flex;
  justify-content: center;
}

.messageError {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 70%;

  color: $green-600;

  margin-top: 1rem;

  font-size: 1.5rem;
}