$white: #FFFFFF;
$black: #000000;
$red-700: #af1a1a;

$blue-400: #3277df;
$blue-900: #03030B;

$green-600: #2DA77A;
$green-700: #1a7855;

$gray-100: #F5F0E8;
$gray-300: #D6DDCA;
$gray-400: #aaada6;
$gray-600: #595C5F;
$gray-700: #495057;
$gray-800: #212529;
$gray-900: #0C0E08;





