@import '../../styles/colors';

.loading {
  display: flex;
  list-style: none;
  align-items: center;

  height: 500px;

p {
    font-size: 3rem;
  }
}

.indeterminateProgressBar {
  background-color: #d1d5db;

  border-radius: 9999px;

  height: 0.5rem;

  position: relative;
  overflow: hidden;
}

.indeterminateProgressBarProgress {
  background-color: $green-600;

  border-radius: 9999px;

  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;

  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: indeterminateProgressBar;
}

@keyframes indeterminateProgressBar {
  from {
      left: -50%;
  }
  to {
      left: 100%;
  }
}